@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}


#title { 
    margin-top: 50px;
}

a {
    text-decoration: none;
}

/* HEADINGS */

h1,h2 { 
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 400;
}

h3 {
    font-weight: 700;
}

p { 
    color: #5B5B5B;
}

/* NAVIGATION */

.nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 100;
}

nav {
    padding: 10px 12rem;
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto; 
}

nav h1 {
    align-self: center;
    font-size: 2rem;

}

nav ul {
    display: flex;
    margin-bottom: 0;
}

nav ul li {
    list-style: none;
    align-self: center;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    color: white;
    letter-spacing: 1.2px;
}

nav ul li a:hover {
    color: #E82768;
}

/* TITLE */

.title-content {
    background-image: linear-gradient(rgba(77, 62, 212, 0.822), rgba(0, 0, 0, 0.856) ), url(images/pc-setup3.webp);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.title-text {
    position: relative;
    top: 30%;
}

.title-btn {
    font-size: 1.5rem;
    border: 3px solid #6333E8;
    background-color: #6333E8;
    border-radius: 0;
    color: white;
    transition: all .3s;
    margin-top: 30px;
}

.title-btn:hover {
    letter-spacing: 1.5px;    
    border: 3px solid white;
    background-color: #6333E8;
    color: white;
}


/* FEATURES */

#features {
    padding: 2% 10% 5%;
}

.feature-img {
    width: 100px;
    margin: 20px auto 0;
}

.feature-text {
    text-align: center;
}

.feature-content {
    margin: 50px 0;
}


.feature-text h3 {
    margin-top: 20px;
}

.container {
    width: 60%;
}


#features .flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

/* TESTIMONIAL */

#testimonial {
    height: 550px;
    background: black;
    text-align: center;
}

#testimonial img {
    width: 5%; 
    border-radius: 100%;
    border: 1.5px solid white;
}

#testimonial p {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.3rem;
}

#testimonial h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.carousel-inner {
    padding: 10rem;
    overflow: hidden;
}

/* CTA */

#cta {
    padding: 3% 5%;
    text-align: center;
}

#cta p {
    font-size: 1.5rem;
}

.cta-pic {
    width: 30%;
    margin: 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid black;
    padding: 40px;
}

#cta h2 {
    color: black;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 5%;
}

/* FOOTER  */

footer {
    text-align: center;
    background: black;
    padding: 3%;
}

footer p {
    margin: 0;
}